.my-menu {
  margin-left: 100px;
}

.home-icon {
  font-size: 18px;
  text-decoration: none;
  /*margin-left: 40px;*/
}

.train-icon,
.test-icon {
  font-size: 18px;
  /*margin-right: 8px;*/
}

.centered-text {
    /*margin-top: 10px;*/
    /*text-align: center;*/
}