
.Login-Background {
    background-image: url('../../../../public/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 915px;
}

.Login-Module {
    margin-top: -900px;
}

.LoginForm-Input-Container-First {
    margin-top: 35vh;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.LoginForm-Input-Container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.LoginForm-Input-Label {
    display: block;
    margin-bottom: 10px; /* 添加一些底部间距 */
    margin-right: 10px;
    font-size: 25px;
}

.LoginForm-Input {
    display: block;
    float: right;
}

.LoginForm-Input-Label label {
    margin-right: 10px; /* 添加右侧间距 */
    font-size: 25px;
}

.LoginForm-Button {
    font-size: 22px;
}