
.OptResult-Metrics {
    display: flex;
    flex-direction: column;
}

.OptResult-Input {
    font-size: 20px;
}

.OptResult-Label {
    margin-top: 35px;
    font-size: 20px;
}

.OptResult-Button-Compare {
    background-color: #61dafb;
}

.OptResult-Button-Loss {
    background-color: bisque;
}
