.ModelList-Button-Train {
    width: 70px;
    background-color: hotpink;
}

.ModelList-Button-Test {
    width: 70px;
    background-color: cornflowerblue;
}

.ModelList-Button-Detail {
    width: 70px;
    background-color: darkgrey;
}

.ModelList-Button-Delete {
    width: 75px;
    background-color: red;
}

.ModelList-Button-Distribution {
    width: 110px;
    background-color: lightseagreen;
}

.ModelList-Button-Location {
    width: 110px;
    background-color: orange;
}

.ModelList-Button-Edit {
    /*background-color: green;*/
}

.ModelList-Button-Label-Text {
    color: white;
    /*font-size: 20px;*/
}

.ModelList-Button-New {
    text-decoration: none;
    background-color: cornflowerblue;
    /*font-size: 20px;*/
}

.ModelList-Button-New-Text {
    color: white;
    /*font-size: 20px;*/
}

.ModelList-Thead {
  font-size: 23px;
}

.ModelList-Tbody {
  font-size: 20px;
}

.ModelList-Modal-Delete {
    width: 600px;
}
